[General]
mode = "www"    # or xmpp
participant_list_open = true
database_file = "blabprezent.db"
log_file = "../bot.log"
log_level = "INFO"      # or DEBUG, WARNING, ERROR

[JabberBot]
jid = "somejid@some.server"
password = "mylittlejabberpassword"
blabler_bot_jid = "blabler@blabler.pl"

[WebsiteBot]
login = "someuser"
password = "mylittlepasswordforwebinferface"
